@import "variables";

.ad {
    padding: 10px 0;

    input {
        flex-grow: 1;
        padding: 0;
        border: 0;
        .text-ellipsis;
    }

    .info {
        display: flex;
        margin-bottom:5px;
        
        a {
            text-decoration: none;
            color: white;
            border-radius: 20px;
            background-color: #3F51B5;
            padding: 3px 10px;
            font-size: 12px;
            text-transform: lowercase;
            font-family: arial;
            height: 20px;
            min-width: 76px;
            margin-right:20px;

            &:hover {
                background-color: #3949AB;
            }
        }

        .move {
            font-size: 18px;
        }
    }

    .description {
        max-width:100%;
        min-width:100%;
        resize: none !important;
        padding:0 10px 0 0;
        border:0;
        color:#9b9b9b;
        font-size:12px;
    }
}

.ad-dropzone {
    height:10px;

    &.canDrop {
        background-color: #e0f5ff;
    }

    &.isOver {
        height: 70px;
    }
}