@import "variables";

.ad {
    padding: 10px 0;

    .info {
        display: flex;

        .original-ad-button {
            margin-right:10px !important;
        }

        .ad-title {
            flex-grow: 1;
            padding: 0;
            height:auto !important;
            border: 0;
            margin-right:10px !important;
            
            input {
                .text-ellipsis;
            }
        }

        .ad-menu-component {
            display: flex;
            align-items: center;
            
            .context-provider > button {
                padding:0 !important;
                height:auto !important;
                width:auto !important;
            }
        }
    }

    .description {
        width:100% !important;
    }
}

.ad-dropzone {
    height:10px;

    &.canDrop {
        border: 2px dashed #ccc;
    }

    &.isOver {
        height: 130px;
        border: 2px dashed #ccc;        
    }
}