

textarea {
    padding: 5px;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

/* Headers */
h2 {
    font-family: Roboto, sans-serif;
    color: rgb(0, 188, 212);
    font-weight: 400;
}

button.btn-transparent {
    background-color: transparent;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color:#f5f5f5;
    }

    i {
        font-size: 18px;
    }
}
