html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hidden {
    display:none !important;
}

#root {
    padding:10px;
}

#add-forms {
    display:flex;   
}

#manual-add-form, #add-list-form {
    display:flex;
    flex-direction: column;
    width:300px;
    margin-bottom:20px;
    margin-right:40px;

    button {
        align-self: flex-end;
    }
}

#ads-lists {
    display: flex;
    flex-wrap: wrap;

    .ads-list {
        max-width:600px;
        width:100%;

        .ads-list-header {
            display:flex;
            border-bottom: 1px solid #333;

            h2{
                border-bottom: 0;
                flex-grow:1;
                padding:0;

            }

            .editable-adslist-header {
                display:flex;
                flex-grow:1;

                input {
                    flex-grow:1;
                    font-family: Arial;
                    font-weight: bold;
                    font-size: 1.5em;
                    font-family: Arial;
                    text-transform: uppercase;
                    margin:0;
                    padding:0 0 5px 0;
                }
            }

            .ads-contextmenu-component,  {
                display:flex;
                margin-left:20px;

                .context-provider {
                    display: flex;
                }
            }
        }
    }

    .ads-dropzone {
        width: 10px;
        margin-left:15px;
        margin-right:15px;
        align-self:stretch;

        &:first-of-type {
            display: none;
        }

        &.canDrop {
            display: block;
            background-color: #e0f5ff;
        }
    
        &.isOver {
            background-color: #00aeff;            
        }
    }
}

