/* Form Controls */
.form-group {
    margin:5px 0;

    label {
        font-size:20px;
        display:flex;   
    }
}

input {
    padding: 5px;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
    margin-left:5px;
    flex-grow:1;
}

textarea {
    padding: 5px;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

/* Headers */
h2 {
    margin: 0;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    font-family: Arial;
    text-transform: uppercase;
}